.home-container {
  color: white;
  margin-bottom: 60px;
}
.emoji {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.emoji h1 {
  margin: 0px;
}
h5 {
  margin: 0px;
}
h6 {
  margin: 0px;
}
.intro {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-left: 30px;
}
.image {
  display: flex;
  margin-right: 100px;
  margin-left: 80px;
  margin-top: 30px;
  align-items: center;
}
.image img {
  height: 320px;
  width: 500px;
}
.Info {
  margin-left: 30px;
}
@media (max-width: 768px) {
  .image {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  .image img {
    height: 180px;
    width: 150px;
  }
  .Info {
    margin: 0;
    margin-top: 20px;
  }
}
