.footer-container{
    background-color: rgb(56, 146, 142);
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    position: fixed;
    bottom: 0;
}